<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/about.css">
    <title>About US</title>
</head>
<body class="bodycolor3">
<header>
    <div class="top">
        <a href="/main"><p class="mainfont logo">PLAY DATA <br> STORY</p></a>
        <a href=""><p class="mainfont aboutus">About us</p></a>
    </div>
</header>
<section>
    <img class="ab_1" src="./img/summary.png" alt="개요목적">
    <img class="ab_2" src="./img/technology.png" alt="사용기술">
    <img class="ab_3" src="./img/planning.png" alt="시안및기획">
    <img class="ab_5" src="./img/project.png" alt="시안및기획">
    <img class="ab_6" src="./img/team.png" alt="">
</section>
</body>
</html>