.mapdata {
    background-color: #1C140F;
    position: absolute;
    width: 1140px;
    height: 650px;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    opacity: 85%;
}

.map_spot{
    position: absolute;
    height: 620px;
    width: 1140px;
    /*//top: 100px;*/

}


.fieldcolor{
    background-color: white;
}

.fielddata {
    background-color: wheat;
    position: absolute;
    width: 850px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

td{
    width: 100px;
    border: 1px solid red;
    text-align: center;
    background-color: white
}
.box{
    width: 100px;
}

.bodycolor_formap {
    position: relative;
    height: 800px;
    width: 100%;
    background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
}
.battle_frame{
    position: absolute;
    left:30%;
    transform:translateX(-40%);
    top: 420px;
}

.battle_frame_btn_1{
    top: 15px;
    left: 13px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 140px;
    height: 50px;
}
.battle_frame_btn_2{
    top: 16px;
    left: 161px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 140px;
    height: 50px;
}
.battle_frame_btn_3{
    top: 72px;
    left: 13px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 140px;
    height: 50px;
}

.battle_frame_in{
    position: absolute;
    left:30%;
    transform:translateX(-40%);
}

.character_frame{
    position: absolute;
    left:2%;
    top: 100px;
}

.move_frame{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top: 420px;
}

.move_frame_btn_1{
    top: 84px;
    left: -28px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 89px;
    height: 50px;
}

.move_frame_btn_2{
    top: 113px;
    border-radius: 5px;
    left: -76px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 89px;
    height: 50px;
}
.move_frame_btn_3{
    top: 113px;
    border-radius: 5px;
    left: -28px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 89px;
    height: 50px;
}

.move_frame_btn_4{
    top: 113px;
    border-radius: 5px;
    left: 20px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    width: 89px;
    height: 50px;
}

.talk{
    width: 300px;
    height: 200px;
    top: 0px;
    position: absolute;
    left: 20px;
}
.talk_word{
    position: absolute;
    left: 100px;
    top: 30px;
}